* {
  box-sizing: border-box;
}

.banner-image {
  width: 40%;
}

.banner-image img {
  /* padding: 7rem 0; */
  width: 100%;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.site-title {
  width: 45%;
  padding: 25px 30px;
  border: 5px dashed #777;
  border-radius: 50px;
}

.bold {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 15px 0;
}

/* Responsive */
@media (max-width: 600px) {
  .landing {
    flex-direction: column;
    justify-content: center;
  }
  .banner-image {
    margin-top: 25px;
    width: 100%;
  }
  .site-title {
    width: 100%;
    border: 0;
    padding: 0;
  }
}
