h1 {
  background-color: white;
  color: black;
  font-size: 1.25rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding: 15px 0;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  margin-bottom: 25px;
}
.left {
  width: 50%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}
.outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img {
  margin: 10px;
  width: 400px;
  height: 250px;
  background: url("https://images.unsplash.com/photo-1597404294360-feeeda04612e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
}
.img2 {
  margin: 10px;
  width: 400px;
  height: 250px;
  background: url("https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNhcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 678px) {
  .content {
    flex-direction: column;
    margin: 0;
  }
  .left {
    width: 90%;
    padding: 15px;
    order: 2;
  }
  .outer {
    height: 100vh;
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap;
  }
  .img {
    width: 250px;
    height: 150px;
    margin: 10px auto;
  }
  .img2 {
    width: 250px;
    height: 150px;
    order: 1;
  }
}
